#root {
  margin:0 auto;
  padding:0 15px;
}
#wrap {
  width:"448px";
  background:'#eee';
  margin:0 auto;
  text-align:center;
}
#wrap h1 {
  font-size:1.125rem;
  color:#000;
}
#root img {
  width:'100%';
}
p {
  text-align:left;
}
li {
  text-align:left;
  list-style:outside;
}